// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$black-header: #191919;
$black-subheader: #252525;
$black-body: #141414;
$grey-button: #363636;
$grey-light: #828282;
$grey-google: #5f5f5f;
$grey-flixlist: #1b1b1b;
$grey-copyright: #a8a8a8;
$white-font: rgba(255, 255, 255, 0.5);
$red-netflix: #e30914;
$green-watching: #6dee76;
$blue-completed: #576bec;
$yellow-on-hold: #f2921c;
$red-dropped: #f51c1f;
$grey-plan-to-watch: #888888;
$grey-flixlist: #1b1b1b;

$rating-padding: 0px;
